
.heroBanner {
    padding: 4rem 0;
    text-align: left;
    text-shadow: 3px 2px  rgb(96,96,96);
    color: white;
    
    
    position: relative;
    overflow: hidden;

    background-image: url(../../../../static/img/banners/homepagebackground.jpg);
    background-size: cover;
  }

  
  
  @media screen and (max-width: 966px) {
    .heroBanner {
      padding: 0rem 0;
    }

    .title {
      margin-left:  0rem;
      font-size: xx-large;
    }

    .underTitle {
      font-size: medium;
    }
  }
  
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .title {
    margin-left:  0rem;
  }


  .IMGlicense {
    display: none;
  }