.msgBubble {
    display: flex;
  
    border-radius: 0 1rem 1rem 0;
    align-items: left;
    width: 40rem;
    position: relative;
  
  
    background-color: #12648a;
    color: rgba(255, 255, 255, 255);
    
    margin-top: 3rem;
    padding: 1rem 1rem;
    padding-left: 2rem;
    
    overflow: hidden; 
    background-image: linear-gradient(to right, rgb(6,57,112) 0, rgb(6,57,112) 1rem, transparent 10px);
    
    opacity: 0;
    overflow: hidden;
    animation-name: slideInFromLeft;
    animation-duration: 1.0s;
    animation-fill-mode: forwards;
  }
  
  
.text{
  white-space: pre-line;
}
  
  /*KEYFRAMES*/
  @keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-120%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }